# Самостоятельное задание 1 (+1 балл к оценке за курс).

In [48]:
import pandas as pd

#### Описание данных

В папке Data находится информация о студентах. Всего 10 групп студентов. Файлы делятся на две категории:
    * Students_info_i - информация о студентах из группы i
    * Students_marks_i - оценки студентов из группы i за экзамены

### Одно из важных достоинств pandas $-$ это удобные методы реляционного взаимодействия с данными, аналогичные, например, возможностям SQL для слияния и конкатенации таблиц: merge, join, concat. Наличие готовых методов позволяет не реализовывать самостоятельно поэлементную обработку данных и оперировать сразу целыми таблицами данных.

Подробно об этих методах посмотрите тут: https://www.kaggle.com/residentmario/renaming-and-combining#Combining

#### Задание 1. Соберите всю информацию о студентах в одну таблицу df. В получившейся таблице должна быть информация и оценки всех студентов из всех групп. Напечатайте несколько строк таблицы для демонстрации результата.¶

In [49]:
data0 = pd.read_csv("C:/Users/polin/Downloads/Data/Data/Students_info_0.csv", sep=",")
data1 = pd.read_csv("C:/Users/polin/Downloads/Data/Data/Students_info_1.csv", sep=",")
data2 = pd.read_csv("C:/Users/polin/Downloads/Data/Data/Students_info_2.csv", sep=",")
data3 = pd.read_csv("C:/Users/polin/Downloads/Data/Data/Students_info_3.csv", sep=",")
data4 = pd.read_csv("C:/Users/polin/Downloads/Data/Data/Students_info_4.csv", sep=",")
data5 = pd.read_csv("C:/Users/polin/Downloads/Data/Data/Students_info_5.csv", sep=",")
data6 = pd.read_csv("C:/Users/polin/Downloads/Data/Data/Students_info_6.csv", sep=",")
data7 = pd.read_csv("C:/Users/polin/Downloads/Data/Data/Students_info_7.csv", sep=",")
data8 = pd.read_csv("C:/Users/polin/Downloads/Data/Data/Students_info_8.csv", sep=",")
data9 = pd.read_csv("C:/Users/polin/Downloads/Data/Data/Students_info_9.csv", sep=",")

data_m0 = pd.read_csv("C:/Users/polin/Downloads/Data/Data/Students_marks_0.csv", sep=",")
data_m1 = pd.read_csv("C:/Users/polin/Downloads/Data/Data/Students_marks_1.csv", sep=",")
data_m2 = pd.read_csv("C:/Users/polin/Downloads/Data/Data/Students_marks_2.csv", sep=",")
data_m3 = pd.read_csv("C:/Users/polin/Downloads/Data/Data/Students_marks_3.csv", sep=",")
data_m4 = pd.read_csv("C:/Users/polin/Downloads/Data/Data/Students_marks_4.csv", sep=",")
data_m5 = pd.read_csv("C:/Users/polin/Downloads/Data/Data/Students_marks_5.csv", sep=",")
data_m6 = pd.read_csv("C:/Users/polin/Downloads/Data/Data/Students_marks_6.csv", sep=",")
data_m7 = pd.read_csv("C:/Users/polin/Downloads/Data/Data/Students_marks_7.csv", sep=",")
data_m8 = pd.read_csv("C:/Users/polin/Downloads/Data/Data/Students_marks_8.csv", sep=",")
data_m9 = pd.read_csv("C:/Users/polin/Downloads/Data/Data/Students_marks_9.csv", sep=",")

df_info = pd.concat([data0, data1, data2, data3, data4, data5, data6, data7, data8, data9])
#df_info.head()

df_marks = pd.concat([data_m0, data_m1, data_m2, data_m3, data_m4, data_m5, data_m6, data_m7, data_m8, data_m9])
#df_marks.head()


df = pd.concat([df_marks, df_info], axis=1)
df.head(1000)

,index,math score,reading score,writing score,index,gender,race/ethnicity,parental level of education,lunch,test preparation course,group
0,0,72,72,74,0,female,group B,bachelor's degree,standard,none,group1
1,1,69,90,88,1,female,group C,some college,standard,completed,group1
2,2,90,95,93,2,female,group B,master's degree,standard,none,group1
3,3,47,57,44,3,male,group A,associate's degree,free/reduced,none,group1
4,4,76,78,75,4,male,group C,some college,standard,none,group1
...,...,...,...,...,...,...,...,...,...,...,...
95,995,88,99,95,995,female,group E,master's degree,standard,completed,group10
96,996,62,55,55,996,male,group C,high school,free/reduced,none,group10
97,997,59,71,65,997,female,group C,high school,free/reduced,completed,group10
98,998,68,78,77,998,female,group D,some college,standard,completed,group10
99,999,77,86,86,999,female,group D,some college,free/reduced,none,group10

#### Задание 2. Удалите столбец index у полученной таблицы. Напечатайте первые 10 строк таблицы.

In [50]:
df = df.drop("index", axis=1)
df.head(10)

,math score,reading score,writing score,gender,race/ethnicity,parental level of education,lunch,test preparation course,group
0,72,72,74,female,group B,bachelor's degree,standard,none,group1
1,69,90,88,female,group C,some college,standard,completed,group1
2,90,95,93,female,group B,master's degree,standard,none,group1
3,47,57,44,male,group A,associate's degree,free/reduced,none,group1
4,76,78,75,male,group C,some college,standard,none,group1
5,71,83,78,female,group B,associate's degree,standard,none,group1
6,88,95,92,female,group B,some college,standard,completed,group1
7,40,43,39,male,group B,some college,free/reduced,none,group1
8,64,64,67,male,group D,high school,free/reduced,completed,group1
9,38,60,50,female,group B,high school,free/reduced,none,group1

#### Задание 3. Выведите на экран размеры полученной таблицы

In [51]:
df.shape

# 1000 строк, 9 колонок

(1000, 9)

#### Задание 4. Выведите на экран статистические характеристики числовых столбцов таблицы (минимум, максимум, среднее значение, стандартное отклонение)

In [52]:
df.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

#### Задание 5. Проверьте, есть ли в таблице пропущенные значения

In [53]:
df.info()
# в каждом столбце 1000 non-null значений, значит пропущенных нет

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 0 to 99
Data columns (total 9 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   math score                   1000 non-null   int64
 1   reading score                1000 non-null   int64
 2   writing score                1000 non-null   int64
 3   gender                       1000 non-null   object
 4   race/ethnicity               1000 non-null   object
 5   parental level of education  1000 non-null   object
 6   lunch                        1000 non-null   object
 7   test preparation course      1000 non-null   object
 8   group                        1000 non-null   object
dtypes: int64(3), object(6)
memory usage: 78.1+ KB

#### Задание 6. Выведите на экран средние баллы студентов по каждому предмету (math, reading, writing)

In [54]:
math_average_score = df['math score'].mean()
reading_average_score = df['reading score'].mean()
writing_average_score = df['writing score'].mean()
print("математика:",math_average_score)
print("чтение:",reading_average_score)
print("письмо:",writing_average_score)

математика: 66.089
чтение: 69.169
письмо: 68.054

**Задание 7. Как зависят оценки от того, проходил ли студент курс для подготовки к сдаче экзамена (test preparation course)? Выведите на экран для каждого предмета в отдельности средний балл студентов, проходивших курс для подготовки к экзамену и не проходивших курс.**

In [57]:
# Студенты, проходившие курс подготовки, сдали экзамены лучше

df.groupby("test preparation course")['math score'].mean()

test preparation course
completed    69.695531
none         64.077882
Name: math score, dtype: float64

In [58]:
df.groupby("test preparation course")['reading score'].mean()

test preparation course
completed    73.893855
none         66.534268
Name: reading score, dtype: float64

In [59]:
df.groupby("test preparation course")['writing score'].mean()

test preparation course
completed    74.418994
none         64.504673
Name: writing score, dtype: float64

**Задание 8. Выведите на экран все различные значения из столбца lunch.**

In [60]:
set(df["lunch"])

{'free/reduced', 'standard'}

**Задание 9. Переименуйте колонку "parental level of education" в "education", а "test preparation course" в "test preparation" с помощью метода pandas rename**
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html

In [61]:
df = df.rename(columns={'parental level of education':'education'})
df = df.rename(columns={'test preparation course':'test preparation'})
df.head()

,math score,reading score,writing score,gender,race/ethnicity,education,lunch,test preparation,group
0,72,72,74,female,group B,bachelor's degree,standard,none,group1
1,69,90,88,female,group C,some college,standard,completed,group1
2,90,95,93,female,group B,master's degree,standard,none,group1
3,47,57,44,male,group A,associate's degree,free/reduced,none,group1
4,76,78,75,male,group C,some college,standard,none,group1

**Зафиксируем минимальный балл для сдачи экзамена**

In [62]:
passmark = 50

**Задание 10. Ответьте на вопросы:**
    * Какая доля студентов сдала экзамен по математике (passmark > 50)?
    * Какая доля студентов, проходивших курс подготовки к экзамену, сдала экзамен по математике?
    * Какая доля женщин, не проходивших курс подготовки к экзамену, не сдала экзамен по математике?

In [64]:
# Какая доля студентов сдала экзамен по математике (passmark > 50)?
# 85%
(df["math score"] > 50).mean()

0.85

In [66]:
# Какая доля студентов, проходивших курс подготовки к экзамену, сдала экзамен по математике?
# 90%
new_df = df[(df["test preparation"] == 'completed')]
(new_df["math score"] > 50).mean()

0.9078212290502793

In [68]:
# Какая доля женщин, не проходивших курс подготовки к экзамену, не сдала экзамен по математике?
# 20%
new_df = df[(df["test preparation"] == 'none') & (df["gender"] == 'female')]
(new_df["math score"] < 50).mean()

0.20958083832335328

**Задание 11. С помощью groupby выполните задания ниже. Также выведите время выполнения каждого из заданий.**
    * Для каждой этнической группы выведите средний балл за экзамен по чтению
    * Для каждого уровня образования выведите минимальный балл за экзамен по письму

In [69]:
%%time
df.groupby("race/ethnicity")['reading score'].mean()

Wall time: 1.99 ms

race/ethnicity
group A    64.674157
group B    67.352632
group C    69.103448
group D    70.030534
group E    73.028571
Name: reading score, dtype: float64

In [70]:
%%time
df.groupby("education")['writing score'].min()

Wall time: 1.99 ms

education
associate's degree    35
bachelor's degree     38
high school           15
master's degree       46
some college          19
some high school      10
Name: writing score, dtype: int64

**Задание 12. Выполните задание 11 с помощью циклов. Сравните время выполнения.**

In [47]:
%%time 

array = {}.fromkeys(df['race/ethnicity'], 0)
count = {}.fromkeys(df['race/ethnicity'], 0)
for index, row in df.iterrows():
    array[row['race/ethnicity']] += row['reading score']
    count[row['race/ethnicity']] += 1

for i in array:
    array[i] /= count[i]
print(array)

{'group B': 67.35263157894737, 'group C': 69.10344827586206, 'group A': 64.67415730337079, 'group D': 70.03053435114504, 'group E': 73.02857142857142}
Wall time: 65.8 ms

In [71]:
%%time 

array = {}.fromkeys(df['education'], 100)
for index, row in df.iterrows():
    array[row['education']] = min(array[row['education']], row['writing score'])
print(array)

# Groupby работает намного быстрее циклов

{"bachelor's degree": 38, 'some college': 19, "master's degree": 46, "associate's degree": 35, 'high school': 15, 'some high school': 10}
Wall time: 64.8 ms

**Задание 13. Выведите на экран средние баллы студентов по каждому предмету в зависимости от пола и уровня образования. То есть должно получиться количество групп, равных 2 * (число уровней образования), и для каждой такой группы выыведите средний балл по каждому из предметов.**

Это можно сделать с помощью сводных таблиц (pivot_table):

https://www.kaggle.com/kamilpolak/tutorial-how-to-use-pivot-table-in-pandas

In [72]:
grouped = pd.pivot_table(data=df,index=["gender", "education"])
grouped

                           math score  reading score  writing score
gender education
female associate's degree   65.250000      74.120690      74.000000
       bachelor's degree    68.349206      77.285714      78.380952
       high school          59.351064      68.202128      66.691489
       master's degree      66.500000      76.805556      77.638889
       some college         65.406780      73.550847      74.050847
       some high school     59.296703      69.109890      68.285714
male   associate's degree   70.764151      67.433962      65.405660
       bachelor's degree    70.581818      68.090909      67.654545
       high school          64.705882      61.480392      58.539216
       master's degree      74.826087      73.130435      72.608696
       some college         69.009259      64.990741      63.148148
       some high school     67.840909      64.693182      61.375000

#### Задание 14. Сколько студентов успешно сдали экзамен по математике?

Создайте новый столбец в таблице df под названием Math_PassStatus и запишите в него F, если студент не сдал экзамен по математике (балл за экзамен < passmark), и P иначе.

Посчитайте количество студентов, сдавших и не сдавших экзамен по математике.

Сделайте аналогичные шаги для экзаменов по чтению и письму.

In [73]:
df['Math_PassStatus'] = df['math score'].apply(lambda x: 'F' if x < passmark else 'P')
df['Reading_PassStatus'] = df['reading score'].apply(lambda x: 'F' if x < passmark else 'P')
df['Writing_PassStatus'] = df['writing score'].apply(lambda x: 'F' if x < passmark else 'P')
df.head()

,math score,reading score,writing score,gender,race/ethnicity,education,lunch,test preparation,group,Math_PassStatus,Reading_PassStatus,Writing_PassStatus
0,72,72,74,female,group B,bachelor's degree,standard,none,group1,P,P,P
1,69,90,88,female,group C,some college,standard,completed,group1,P,P,P
2,90,95,93,female,group B,master's degree,standard,none,group1,P,P,P
3,47,57,44,male,group A,associate's degree,free/reduced,none,group1,F,P,F
4,76,78,75,male,group C,some college,standard,none,group1,P,P,P

In [74]:
print('Экзамен по математике')
print('не сдали:', sum(df['Math_PassStatus'] == 'F'))
print('сдали:', sum(df['Math_PassStatus'] == 'P'))

print('Экзамен по чтению')
print('не сдали:', sum(df['Reading_PassStatus'] == 'F'))
print('сдали:', sum(df['Reading_PassStatus'] == 'P'))

print('Экзамен по письму')
print('не сдали:', sum(df['Writing_PassStatus'] == 'F'))
print('сдали:', sum(df['Writing_PassStatus'] == 'P'))

Экзамен по математике
не сдали: 135
сдали: 865
Экзамен по чтению
не сдали: 90
сдали: 910
Экзамен по письму
не сдали: 114
сдали: 886

#### Задание 15. Сколько студентов успешно сдали все экзамены?

Создайте столбец OverAll_PassStatus и запишите в него для каждого студента 'F', если студент не сдал хотя бы один из трех экзаменов, а иначе 'P'.

Посчитайте количество студентов, которые сдали все экзамены.

In [75]:
def ops(math, reading, writing):
    if math == reading == writing == 'P':
        return 'P'
    else:
        return 'F'

df['OverAll_PassStatus'] = df.apply(lambda x: ops(x['Math_PassStatus'], x['Reading_PassStatus'], x['Writing_PassStatus']), axis=1)
df.head()

,math score,reading score,writing score,gender,race/ethnicity,education,lunch,test preparation,group,Math_PassStatus,Reading_PassStatus,Writing_PassStatus,OverAll_PassStatus
0,72,72,74,female,group B,bachelor's degree,standard,none,group1,P,P,P,P
1,69,90,88,female,group C,some college,standard,completed,group1,P,P,P,P
2,90,95,93,female,group B,master's degree,standard,none,group1,P,P,P,P
3,47,57,44,male,group A,associate's degree,free/reduced,none,group1,F,P,F,F
4,76,78,75,male,group C,some college,standard,none,group1,P,P,P,P

In [76]:
print('Сдали все экзамены:', sum(df['OverAll_PassStatus'] == 'P'))

Сдали все экзамены: 812

#### Задание 16. Переведем баллы в оценки

### Система перевода баллов в оценки
####      90 и больше = A
####      80-89 = B
####      70-79 = C
####      60-69 = D
####      50-59 = E
####    меньше 50 = F (Fail)

Создайте вспомогательную функцию, которая будет по среднему баллу за три экзамена выставлять оценку студенту по данным выше критериям.

Создайте столбец Grade и запишите в него оценку каждого студента.

Выведите количество студентов, получивших каждую из оценок.

In [77]:
def GetGrade(average_mark):
    if average_mark >= 90:
        return 'A'
    if 80 <= average_mark <= 89:
        return 'B'
    if 70 <= average_mark <= 79:
        return 'C'
    if 60 <= average_mark <= 69:
        return 'D'
    if 50 <= average_mark <= 59:
        return 'E'
    else:
        return 'F'

df['Grade'] = df.apply(lambda x: GetGrade((x['math score'] + x['reading score'] + x['writing score'])/3), axis=1)
df.head()

,math score,reading score,writing score,gender,race/ethnicity,education,lunch,test preparation,group,Math_PassStatus,Reading_PassStatus,Writing_PassStatus,OverAll_PassStatus,Grade
0,72,72,74,female,group B,bachelor's degree,standard,none,group1,P,P,P,P,C
1,69,90,88,female,group C,some college,standard,completed,group1,P,P,P,P,B
2,90,95,93,female,group B,master's degree,standard,none,group1,P,P,P,P,A
3,47,57,44,male,group A,associate's degree,free/reduced,none,group1,F,P,F,F,F
4,76,78,75,male,group C,some college,standard,none,group1,P,P,P,P,C

In [80]:
# количество студентов, получивших каждую из оценок

df['Grade'].value_counts()

C    245
D    241
E    171
F    151
B    140
A     52
Name: Grade, dtype: int64